/* styles/newPostModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top of other content */
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Limit maximum width */
}

.modal-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input[type="file"],
.modal-content textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #13c97d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content button[type="button"] {
  background-color: #ccc;
  color: #000;
}

.modal-content button[type="button"]:hover {
  background-color: #999;
}

.modal-content .close {
  font-size: 1.5rem;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-content .close:hover {
  color: #666;
}
