<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{profile.name}}
    {% for profile in profiles %}
    <header>
        <img src="{{ profile.avatar }}" alt="avatar">
        <div class="profile-info">
            <h1>{{ profile.username }}</h1>
            <p>{{ profile.name }}</p>
            <p>{{ profile.num_of_posts }} posts</p>
            <p>{{ profile.followers}} followers</p>
            <p>{{ profile.following }} following</p>
            <div class="bio">
                <p>bio stuff</p>
            </div>
        </div>
    </header>
    <div class="photo-grid">
        <h3>Posts</h3>
        {% for post in profile.posts %}
        <img src="{{ post.img}}" alt="post">
        <img src="{{ post.img}}" alt="post">
        <img src="{{ post.img}}" alt="post">
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>

