<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hey</h1>
    
    <header>
        <img src="{{ account.avatar }}" alt="avatar">
        <div class="accounts-info">
            <h1>{{ account.username }}</h1>
            <p>{{ account.name }}</p>
            <p>{{ account.num_of_posts }} posts</p>
            <p>{{ account.followers}} followers</p>
            <p>{{ account.following }} following</p>
            <div class="bio">
                <p>{{ account.bio }}</p>
            </div>
        </div>
    </header>
    <div class="photo-grid">
        <h3>Posts</h3>
        {% for post in accounts.posts %}
        <img src="{{ post.img}}" alt="post">
        {% endfor %}
    </div>
</body>
</html>
